<div class="container">

    <div class="row">
        <div class="col-md-12" style="margin-top: 30px;">

            <div class="row featured-boxes login">
                <div class="col-sm-8" style="float: none; margin: auto">
                    <div class="featured-box featured-box-secundary default info-content">
                        <div class="box-content">
                            <h4>Register An Account</h4>
                            <form action="" id="" method="post">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Username</label>
                                            <input type="text" value="" class="form-control input-lg" name="username">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <label>Password</label>
                                            <input type="password" value="" class="form-control input-lg" name="password">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Avatar</label>
                                            <input type="text" value="" class="form-control input-lg" name="avatar">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="submit" value="Register"
                                            class="btn btn-primary pull-right push-bottom"
                                            data-loading-text="Loading...">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>